################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Weather.Droid/Weather.Droid/obj/Debug/android
